@import "navbar.css";
@import 'home.css';
@import 'movie.css';
@import "search.css";
@import "watchlist.css";
@import 'login.css';
@import 'loader.css';
@import 'mobile.css';
@import  'Footer.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
:root{
    --back-main: #00925D;
    --color-main: #fff;
    --color-content: #9CA4AB;
}
.container{
    max-width: 1800px;
    padding: 0 75px;
    width:100%;
    margin: 0 auto;
}
.btn_watch{
    display: flex;
    gap: 20px;
}
.btn-main{
    background: var(--back-main);
    font-weight: bold;
    font-size: 20px;
    color: var(--color-main);
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid var(--back-main);
}
.MovieText {
    font-weight: bold;
    font-size: calc(1rem + .5vw);
    margin-bottom: 15px;
    background-image: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, .4));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width: 524px){
    .container{
        padding: 0 20px;
    }
    .slick-arrow {
        display: none !important;

    }
    .slick-next {
        display: none !important;
    }
}


.slick-prev.slick-disabled {
    display: none !important;
}
.language-switcher {
    position: relative;
    display: inline-block;
}

.selected-language {
    background-color: var(--back-main);
    color: var(--color-main);
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: .5s ease;
}
.selected-language:hover{
    background-color: #055d3c;
    transition: .5s ease;
}

.flag-icon {
    width: 20px;
    height: 20px;
}

.arrow {
    font-size: 12px;
}

.dropdown-lang {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    margin-top: 5px;
    z-index: 1;
}

.language-option {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    width: 100%;
    color: var(--color-main);
    background: #0f0f12;
    border: none;
    transition: background-color 0.2s;
}

.language-option:hover {
    background-color: var(--back-main);
    color: var(--color-main);
}
.language-switcher .dropdown-lang.show {
    display: block;

}
#dropdown-lang{
    max-height: 18.75rem;
    position: absolute;
    width: max-content;
    overflow-y: auto;
    z-index: 10;
    border-radius: 1rem;
    border: 1px solid hsla(0, 0%, 100%, .06);
    background: #0f0f12;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    color: hsla(0, 0%, 100%, .7);
}

