@import "navbar.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.container{
    max-width: 1440px;
    padding: 0 75px;
    width:100%;
    margin: 0 auto;
}
