@import "navbar.css";
@import 'home.css';
@import 'movie.css';
@import 'loader.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
:root{
    --back-main: #00925D;
    --color-main: #fff;
    --color-content: #9CA4AB;
}
.container{
    max-width: 1800px;
    padding: 0 75px;
    width:100%;
    margin: 0 auto;
}
.btn_watch{
    display: flex;
    gap: 20px;
}
.btn-main{
    background: var(--back-main);
    font-weight: bold;
    font-size: 20px;
    color: var(--color-main);
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid var(--back-main);
}
.MovieText{
    font-weight: bold;
    font-size: 24px;
    color: var(--color-main);
}
@media(max-width: 524px){
    .container{
        padding: 0 20px;
    }
    .slick-arrow {
        display: none !important;

    }
    .slick-next {
        display: none !important;
    }
}

